@import "../../App.scss";
.modal {
    top: 25%;
    
  }

.modal-content{
    
    border: 0;
    border-radius: 10px;
}
.SendButton{
    font-weight: bold;
    border-radius: 8px;
    background-color: #B16664;
    border: none;
    &:hover{
        background-color: $navBar !important;
    }
    &:focus{
        background-color: $navBar;
    }
    &:active{
        background-color: $navBar;
    }
}